.main-index
	img(src="img/road.svg", alt="road").road
	.container
		.main-index__content
			.main-index__left-content.target-action
				h1.target-action__title=mainText 
					span.target-action__orange=mainTextOrange
				p.target-action__subtitle=mainActionText
				a.target-action__button.main-button(href=linkApp) 
					span.main-button__text=mainTextButton
			.main-index__right-content
				img(src='img/map.png' alt='map and pictures')