mixin description(title, subtitle, imgBig, imgMini, orderText = 'order1-1', orderImages = 'order1-2', actionText = 'Checkout')
	.description
		.description__container-text(class=orderText)
			.description__title= title
			.description__subtitle= subtitle
			a.description__action.action= actionText
					+arrow-right
		.description__container-images(class=orderImages)
			.description__container-position
				img(src=`img/${imgBig}`, alt="Photo of place").description__image--big
				img(src=`img/${imgMini}`, alt="Photo of place").description__image--mini